@import url(http://fonts.googleapis.com/css?family=Fresca);

body{
  font-family: 'Fresca', sans-serif; /*use Fresca if you have it, then sans-serif if not*/
  background:rgb(236, 223, 236);
  text-align: center;
}

p{
  color:navy;
  border:5px solid navy;
  font-size: large;
}

h3{
  font-size: large;
}

h4{
  font-size: medium;
}

.seemyotherpages{
  color:deeppink;
}
